slprj/*
Simulazione/uav/PIDAutotuningMultirotorExample/scdUAVPIDAutotuning/data/uavPackageDeliveryDataDict.sldd
SAC_RL_env.slxc
temp_parametri_drone.mat
*.asv
Reinforcement Learning/SAC_RL_env.slx.bak
